{% extends 'layout.html'%}

{% block content %}
<div class="col-md-6 offset-md-3">
<div class="card">
    <div class="card-header">
        {{ record.last_name}}, {{ record.first_name }} | {{ record.pk }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ record.email }}</h5>
        <p class="card-text">{{ record.phone }}</p>
        <p class="card-text">{{ record.address }}</p>
        <p class="card-text">{{ record.city }}</p>       
        <p class="card-text">{{ record.state }}</p> 
        <p class="card-text">{{ record.zipcode }}</p> 
        <p class="card-text">{{ record.created_at }}</p>    
        <a class="btn btn-danger" href="{% url "website:home" %}">Delete</a> 
        <a class="btn btn-primary" href="{% url "website:home" %}">Back</a>
    </div>
</div>
</div>
{% endblock content%}
